/* Général */

* {
    margin : 0; 
    padding: 0;
}

section, footer {
    padding : 65px 0 80px 0;
}

section .heading {
    text-align: center;
    padding-bottom : 40px;
}

section .heading h2 {
    text-transform: uppercase;
}

.divider {
    width: 100px; 
    height : 4px; 
    margin : 0 auto 30px;;
}

ul {
    list-style: none;
}

/* Navbar */
.navbar {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.navbar-nav {
    margin: 0 auto; 
    text-align: center;
}

.nav-link {
    color : white !important;
    margin: 0 6px;
}

.nav-link.active, 
.nav-link:hover {
    background: white;
    color : blue !important;
}



/* About */

.profile-picture {
    margin : 0 auto 30px;
}

.profile-picture, .heading {
    text-align: center;
}

#about .heading h1 {
    color : white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#about .heading h3, #about .heading h4 {
    margin-bottom : 20px;
    color : white;
}

.button1 {
    margin-right : 15px;
}

/* Skills*/

.card {
    margin : auto;
    margin-top : 40px;
}

.progress {
    margin : 20px auto;
    height: 40px;
}

.card h2 {
    color : white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

#skills .progress-bar h5 {
    text-shadow: 1px 1px 1px black;
}

#skills .progress-bar p {
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    padding-top : 10px;
}

.progress-bar.bg-light.text-success {
    font-size: 13px;
}

/*Experience*/

.timeline {
    padding : 30px 10px; 
    position : relative; 
}

.timeline:before {
    content: " ";
    top: 0; 
    bottom: 0; 
    position : absolute; 
    width : 5px; 
    background-color : rgb(218, 195, 195); 
    left : 50%; 
    margin-left: -2.5px;
}

.timeline > li {
    margin-bottom: 20px; 
    position : relative; 
}
.timeline > li:before, .timeline > li:after {
    content: " "; 
    display : table;
}

.timeline > li:after {
    clear:both; 
}

.timeline li .timeline-badge {
    color : rgb(61, 61, 189);
    width : 50px; 
    line-height: 50px; 
    font-size: 20px; 
    text-align: center;
    position : absolute; 
    top : 16px; 
    left: 50%; 
    margin-left: -25px; 
    background-color : #ddd; 
    border-radius : 50%; 
}

.timeline-panel-container {
    width : 50%; 
    float: 50%; 
}

.timeline-panel-container-inverted {
    width : 50%; 
    float : right;
}

.timeline-panel {
    width : 90%; 
    float: right; 
    margin-right : 40px; 
    border : 1px solid #d4d4d4;
    border-radius : 7px; 
    padding: 20px 25px; 
    position : relative; 
    box-shadow : 0 1px 6px rgba(0,0,0, 0.175); 
    background : white;
}

.timeline-panel-container-inverted .timeline-panel {
    float : left; 
    margin-left : 40px; 
}

.timeline-panel:after {
    position: absolute; 
    top: 27px; 
    right: -14px; 
    display:  inline-block;
    border-top : 14px solid transparent; 
    border-left : 14px solid white; 
    border-bottom : 14px solid transparent;
    border-right : 0 solid white;
    content : " ";
}

.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px; 
    left: -14px; 
    right : auto;
} 

.timeline-heading h3 {
    margin-top : 5px; 
    font-size: 22px;
}

.timeline-heading h4 {
    font-size : 27px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Formation */

#formation .heading h2 {
    margin : 15px 0px;
}

.formation-block {
    width : 90%; 
    margin : 0 auto; 
    text-align: center;
    padding: 30px; 
    background-color: #e9ecef;
    border-radius : 5px; 
    border : 1px solid grey;
    margin-bottom : 15px;
}

.formation-block h5 {
    color: #888; 
    font-size: 15px;
    margin-bottom : 15px;
}

.formation-block span {
    font-size : 35px;
    color : rgb(216, 186, 19);
}

.formation-block h3 {
    margin : 15px 0;
}

.formation-block h4 {
    margin-bottom : 20px; 
    font-weight : normal;
}

/* Portefolio */

#portefolio .img-thumbnail{
    width : 100%; 
    height: 100%; 
    filter: grayscale(100%); 
    -webkit-filter: grayscale(100%);
}

#portefolio .img-thumbnail:hover {
    filter: none; 
    -webkit-filter: none;
}

#portefolio .col-md-4 {
    margin-bottom : 20px;
}

.img-thumbnail {
    cursor: pointer;
}

.modal img {
    width : 450px; 
    height: 700px;
}

.modal-content p {
    text-align: center;
    margin-top : 5px; 
}

/* Motivation */

.carousel-item .card {
    width : 80%; 
    margin : 30px auto;
    padding : 25px;
}

.carousel-indicators {
    bottom : -10px;
}

.carousel-item .card h3 {
    font-size : 35px; 
    margin-bottom : 20px;
}

/* Contact */

#contact .card {
    padding : 30px; 
    text-align: center;
}

.card span {
    color : blue;
}

